
@{
    ViewBag.Title = "Actualizar";
}

<h2>Editar Producto</h2>


<form action="Actualizar" method="post">
    <div class="hidden">
        
        <input type="text" class="form-control" id="Nombre" name="ID" placeholder="Nombre producto..."
               value="@Model.ID">
    </div>
    <div class="form-group">
        <label for="Nombre">Nombre: </label>
        <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre producto..."
               value="@Model.Nombre">
    </div>
    <div class="form-group">
        <label for="Descripcion">Descripción: </label>
        <input type="text" class="form-control" id="Descripcion" name="Descripcion" placeholder="Descripcion"
               value="@Model.Descripcion">
    </div>
    <div class="form-group">
        <label for="Precio">Precio: </label>
        <input type="text" class="form-control" id="Precio" name="Precio" placeholder="Ej: 100"
               value="@Model.Precio">
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>

<div>
    @Html.ActionLink("Volver", "Index");
</div>

